html, body{
    padding: 0;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:rgb(147, 83, 177);
    display: flex; /*Comportamento do elemento na página*/
    font-family: Verdana;
}

/*Estilização do container*/

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Form{
    background-color: rgb(228, 188, 233);
    padding: 30px;
    padding-top: 0;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(31, 4, 31);
}



