html, body{
    padding: 0;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:rgb(147, 83, 177);
    display: flex; /*Comportamento do elemento na página*/
    font-family: Verdana;
}

/*Estilização do container*/

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}


